body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    background-image: url(./images/pexels-cátia-matos-1072179.jpg);
    background-size: cover;
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    
}

.hand {
    width: 150px;
    height: 200px;
    margin: 15px 40px;
    box-shadow: 5px 5px 5px rgba(42, 161, 149, 0.582);
}

.digital {
    width: 270px;
    height: 143.4375px;
    margin: 15px 20px;
    box-shadow: 5px 5px 5px rgba(42, 161, 149, 0.582);
}


.origami {
    width: 150px;
    height: 200px;
    margin: 15px 30px;
    box-shadow: 5px 5px 5px rgba(42, 161, 149, 0.582);
}
