body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/pexels-elijah-o\'donnell-3473569.jpg");
    background-size: cover; 
}


.picture {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 2px solid white;
}

.media {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 30px 30px;
}



.greet {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: white;
}

.line {
    width: 40%;
}

.hobbies {
    margin-top: 10px;
    letter-spacing: 2px;
    word-spacing: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.nav-wrapper {
    
    width: 100vh;
    background-color: rgba(42, 214, 197, 0.315);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.link a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.link a:hover{
    background-color: rgba(96, 255, 239, 0.658);
    transition: all 0.9s ease;
    color: black;
}